@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
  color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans KR", sans-serif;
}

.container {
  transition: all 0.3s;
}
